version: "3"

networks:
  web:
    external: true
  internal:
    external: false

services:

  portfolio:
    image: registry.cedricmarinot.fr/botkirial/portfolio
    container_name: portfolio
    restart: unless-stopped
    labels:
      - traefik.http.routers.portfolio.rule=Host(`cedricmarinot.fr`)
      - traefik.http.routers.portfolio.tls=true
      - traefik.http.routers.portfolio.tls.certresolver=lets-encrypt
      - traefik.port=80
    networks:
      - internal
      - web

 tethys:
    image: registry.cedricmarinot.fr/botkirial/tethys
    container_name: tethys
    restart: unless-stopped
    labels:
      - traefik.http.routers.tethys.rule=Host(`tethys.cedricmarinot.fr`)
      - traefik.http.routers.tethys.tls=true
      - traefik.http.routers.tethys.tls.certresolver=lets-encrypt
      - traefik.port=80
    networks:
      - internal
      - web

  livechat:
    image: registry.cedricmarinot.fr/botkirial/nodejsddimchat
    container_name: livechat
    restart: unless-stopped
    labels:
      - traefik.http.routers.livechat.rule=Host(`livechat.cedricmarinot.fr`)
      - traefik.http.routers.livechat.tls=true
      - traefik.http.routers.livechat.tls.certresolver=lets-encrypt
      - traefik.port=80
      - traefik.http.services.livechat.loadbalancer.server.port=5555
    networks:
      - internal
      - web

  mail-server:
    image: registry.cedricmarinot.fr/botkirial/mail-server
    container_name: mail-server
    restart: unless-stopped
    labels:
      - traefik.http.routers.mail-server.rule=Host(`mail-server.cedricmarinot.fr`)
      - traefik.http.routers.mail-server.tls=true
      - traefik.http.routers.mail-server.tls.certresolver=lets-encrypt
      - traefik.port=80
      - traefik.http.services.mail-server.loadbalancer.server.port=8080
    networks:
      - internal
      - web
